/*================================
	Globals
=================================*/
a:link, a:visited {
	color:#996633;
	}
a:hover {
	color:#70471f;
	cursor: pointer;
	}
p.menu {
	text-align:right;
	font-size:10px;
	color:#3E3E3E;
	margin-right:8px;
	}

/*=================================
	Intro Page
=================================*/
body {
	background:url(images/bg.jpg) no-repeat center 0px;
	}
#cardWrapper {
	margin:220px auto 0 auto;
	padding:0 10px;
	width:250px;
	text-align:left;
	font-size:1.1em;
	display:block;
	}
#content 
{
	margin-right:5px;
	margin-bottom:2px;
	height:125px;
	overflow-y:auto;	
}

#menu 
{
	margin-right:5px;
	text-align:right;
	font-size:10px;
	color:#3E3E3E;
	}

h1 {
	background:url(images/logo.gif) no-repeat center bottom;
	text-indent:-9999px;
	height:90px; width:175px;
	margin:0 auto;
	}


/*====================================
	Work Page
=====================================*/
#work ul {font-size:10px;color:#3E3E3E;}
#work ul li{margin-bottom:7px;}
#work strong {font-size:11px;}

/*====================================
	About Page
=====================================*/
#about {font-size:10px;color:#3E3E3E;height:120px;overflow-y:auto;}

/*====================================
	Contact Form
=====================================*/
#contact dt, #contactForm dd {
	float:left;
	margin:1px;
	}
#contact dt {
	clear:left;
	text-align:right;
	margin-bottom:4px;
	display:block; width:45px;
	}
#contact input {
	background:url(images/inputbg.gif) repeat-x left bottom;
	border:none;
	width:170px;
	}
#contact textarea {
	border:1px solid #bfbfbf;
	margin-bottom:4px;
	width:170px; height:29px;
	display:block;
	overflow:auto;
	background:transparent;
	padding:2px;
	font-family: arial, verdana, sans-serif; font-size:1em;
	}
#sendMessage {
	margin-left:20px;
	}
.invalid {
	background: #EEBAB7 !important;
}

/*====================================
	Thanks
=====================================*/
#thanks {
	text-align:center;
	padding-top:62px;
	}
#send_form {
	background:#e2e2e2;
	display:inline-block;
	color:#996633;
	margin-left: 45px;
}